{% extends 'base.html' %}

{% block title %}Home - Trip Booking{% endblock %}

{% block additional_css %}
<!-- Incluir CSS de jQuery UI -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block header_title %}Welcome to Trip Booking{% endblock %}

{% block auth_links %}
{% if current_user.is_authenticated %}
    <!-- Redirigir según el rol del usuario -->
    {% if current_user.auth_level == 'super_user' %}
        <a href="{{ url_for('super_profile') }}">Welcome, {{ current_user.name }}!</a>
    {% elif current_user.auth_level == 'manager_user' %}
        <a href="{{ url_for('manager_profile') }}">Welcome, {{ current_user.name }}!</a>
    {% else %}
        <a href="{{ url_for('user_profile') }}">Welcome, {{ current_user.name }}!</a>
    {% endif %}
    <a href="{{ url_for('logout') }}" class="btn btn-light btn-sm btn-custom">Logout</a>
{% else %}
    <a href="{{ url_for('login') }}" class="btn btn-light btn-sm btn-custom">Login</a>
    <a href="{{ url_for('register') }}" class="btn btn-light btn-sm btn-custom">Register</a>
{% endif %}
{% endblock %}

{% block content %}
<section id="search">
    <h2 class="h4 mb-3">Find Your Next Adventure</h2>
    <form class="d-flex flex-wrap justify-content-center align-items-center" action="{{ url_for('booking') }}" method="POST">
        <div class="col-md-3">
            <select class="form-select" name="destination" required>
                <option value="">Select Destination</option>
                {% for city in cities %}
                <option value="{{ city.name }}">{{ city.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="check-in" name="check_in" placeholder="Check-in" required>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="check-out" name="check_out" placeholder="Check-out" required>
        </div>
        <div class="col-md-1">
            <input type="number" class="form-control" name="guests" placeholder="Guests" min="1" required>
        </div>
        <div class="col-md-1">
            <input type="number" class="form-control" name="rooms" placeholder="Rooms" min="1" required>
        </div>
        <div class="col-md-1">
            <input type="submit" class="btn btn-primary w-100" value="Search">
        </div>
    </form>
</section>
<!-- Popular Destinations Section -->
<section id="destinations" class="mt-5">
    <h2 class="h4 mb-3">Popular Destinations</h2>
    <ul class="list-group">
        {% for city in cities %}
            <li class="list-group-item"><a href="{{ url_for('booking', destination=city.name) }}">{{ city.name }}</a></li>
        {% endfor %}
    </ul>
</section>
{% endblock %}

{% block additional_js %}
<!-- Incluir jQuery y jQuery UI -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        var dateFormat = "yy-mm-dd",
            from = $("#check-in")
                .datepicker({
                    defaultDate: "+1w",
                    changeMonth: true,
                    numberOfMonths: 1,
                    dateFormat: dateFormat
                })
                .on("change", function () {
                    to.datepicker("option", "minDate", getDate(this));
                }),
            to = $("#check-out").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1,
                dateFormat: dateFormat
            })
                .on("change", function () {
                    from.datepicker("option", "maxDate", getDate(this));
                });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }
            return date;
        }
    });
</script>
{% endblock %}
