<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Home - Trip Booking{% endblock %}

{% block additional_css %}
<!-- CSS adicional para la página home -->
{% endblock %}

{% block header_title %}Welcome to Trip Booking{% endblock %}

{% block auth_links %}
{% if current_user.is_authenticated %}
<span>Welcome, {{ current_user.name }}!</span>
<a href="{{ url_for('logout') }}" class="btn btn-light btn-sm btn-custom">Logout</a>
{% else %}
<a href="{{ url_for('login') }}" class="btn btn-light btn-sm btn-custom">Login</a>
<a href="{{ url_for('register') }}" class="btn btn-light btn-sm btn-custom">Register</a>
{% endif %}
{% endblock %}

{% block content %}
<section id="search">
    <h2 class="h4 mb-3">Find Your Next Adventure</h2>
    <!-- home.html -->
    <form class="d-flex flex-wrap justify-content-center align-items-center" action="{{ url_for('booking') }}"
        method="POST">
        <div class="col-md-3">
            <select class="form-select" name="destination" required>
                <option value="">Select Destination</option>
                <option value="Berlin">Berlin</option>
                <option value="Munich">Munich</option>
                <option value="Hamburg">Hamburg</option>
                <option value="Frankfurt">Frankfurt</option>
            </select>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="check-in" name="check_in" placeholder="Check-in" required>
        </div>
        <div class="col-md-2">
            <input type="text" class="form-control" id="check-out" name="check_out" placeholder="Check-out" required>
        </div>
        <div class="col-md-1">
            <input type="number" class="form-control" name="guests" placeholder="Guests" min="1" required>
        </div>
        <div class="col-md-1">
            <input type="number" class="form-control" name="rooms" placeholder="Rooms" min="1" required>
        </div>
        <div class="col-md-2">
            <input type="submit" class="btn btn-primary w-100" value="Search">
        </div>
    </form>
</section>
<section id="destinations" class="mt-5">
    <h2 class="h4 mb-3">Popular Destinations</h2>
    <ul class="list-group">
        <li class="list-group-item">Berlin</li>
        <li class="list-group-item">Munich</li>
        <li class="list-group-item">Hamburg</li>
        <li class="list-group-item">Frankfurt</li>
    </ul>
</section>
{% endblock %}