{% extends 'base.html' %}

{% block title %}Manager Edition - Travel Booking{% endblock %}
{% block content %}

<body>
    <div class="container my-5">
        <h2 class="text-center mb-4">Edit Hotel</h2>
        <form action="{{ url_for('manager_hotel_editing', hotel_id=hotel._id) }}" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ hotel.title }}" required>
            </div>
            <div class="mb-3">
                <label for="street1" class="form-label">Street 1</label>
                <input type="text" class="form-control" id="street1" name="street1" value="{{ hotel.address.street1 }}" required>
            </div>
            <div class="mb-3">
                <label for="street2" class="form-label">Street 2</label>
                <input type="text" class="form-control" id="street2" name="street2" value="{{ hotel.address.street2 }}">
            </div>
            <div class="mb-3">
                <label for="street3" class="form-label">Street 3</label>
                <input type="text" class="form-control" id="street3" name="street3" value="{{ hotel.address.street3 }}">
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" name="city" value="{{ hotel.address.city }}" required>
            </div>
            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" id="country" name="country" value="{{ hotel.address.country }}" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" required>{{ hotel.description }}</textarea>
            </div>
            <div class="mb-3">
                <label for="extra_info" class="form-label">Extra Info</label>
                <textarea class="form-control" id="extra_info" name="extra_info">{{ hotel.extra_info }}</textarea>
            </div>
            <div class="mb-3">
                <label for="no_of_guests" class="form-label">Number of Guests</label>
                <input type="number" class="form-control" id="no_of_guests" name="no_of_guests" value="{{ hotel.no_of_guests }}" required>
            </div>
            <div class="mb-3">
                <label for="price_per_night" class="form-label">Price per Night</label>
                <input type="number" class="form-control" id="price_per_night" name="price_per_night" value="{{ hotel.price_per_night }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</body>

</html>
{% endblock %}

