{% extends 'base.html' %}

{% block title %}Hotel Info - Trip Booking{% endblock %}

{% block content %}
<style>
    .btn-update-booking, .btn-proceed-confirmation, .btn-back-to-booking {
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        display: block;
        width: 100%;
    }
    .btn-update-booking { background-color: #28a745; }
    .btn-update-booking:hover { background-color: #218838; }
    .btn-proceed-confirmation { background-color: #17a2b8; }
    .btn-proceed-confirmation:hover { background-color: #138496; }
    .btn-back-to-booking { background-color: #6c757d; }
    .btn-back-to-booking:hover { background-color: #5a6268; }

    .hotel-info-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .hotel-info-section div {
        flex: 1;
        padding: 10px;
    }
    .hotel-info-section div strong {
        display: block;
        margin-bottom: 5px;
    }

    .hotel-photos {
        text-align: center;
    }
    .hotel-photos img {
        margin-bottom: 10px;
        border-radius: 5px;
    }

    .booking-details-section {
        display: flex;
        justify-content: space-between;
    }
    .booking-details-section .col-md-6 {
        padding: 10px;
    }
</style>

<div class="container my-5">
    {% if hotel and booking_details %}
    <div class="card mb-5">
        <div class="card-body">
            <h2 class="card-title mb-4 text-center">{{ hotel.title }}</h2>
            
            <div class="hotel-info-section">
                <div>
                    <strong>City:</strong> {{ hotel.address.city }}
                </div>
                <div>
                    <strong>Country:</strong> {{ hotel.address.country }}
                </div>
            </div>

            <!-- Description and Extra Info as sequential blocks -->
            <div class="hotel-info-section">
                <div>
                    <strong>Description:</strong> 
                    <p>{{ hotel.description }}</p>
                </div>
            </div>
            <div class="hotel-info-section">
                <div>
                    <strong>Extra Info:</strong> 
                    <p>{{ hotel.extra_info }}</p>
                </div>
            </div>
            
            <div class="hotel-photos">
                <strong>Available Photos:</strong>
                <div class="row justify-content-center">
                    {% if hotel.photos %}
                        <div class="col-md-6 mb-3">
                            <a href="{{ url_for('hotel_photo', photo_id=hotel.photos[0]) }}" target="_blank">
                                <img src="{{ url_for('hotel_photo', photo_id=hotel.photos[0]) }}" alt="Hotel Main Photo" class="img-fluid">
                            </a>
                            <p class="text-center mt-2"><strong>Main Photo</strong></p>
                        </div>
                        <div class="col-md-12">
                            <strong>Room Photos:</strong>
                            <div class="row justify-content-center">
                                {% for photo_id in hotel.photos[1:] %}
                                <div class="col-md-4 mb-3">
                                    <a href="{{ url_for('hotel_photo', photo_id=photo_id) }}" target="_blank">
                                        <img src="{{ url_for('hotel_photo', photo_id=photo_id) }}" alt="Hotel Room Photo" class="img-fluid">
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <p>No photos available.</p>
                    {% endif %}
                </div>
            </div>
            
            <div class="hotel-info-section">
                <div>
                    {% if current_user.is_authenticated %}
                    <strong>Price per night:</strong> {{ booking_details.hotel_price }}
                    </div>
                    <div>
                    <strong>Total Price:</strong> {{ booking_details.total_price }}
                    {% else %}
                    <strong>Login to see the price</strong>
                    {% endif %}
                </div>
            </div>
            
        </div>
    </div>

    <div class="card mb-5">
        <div class="card-body">
            <h3 class="card-title mb-4 text-center">Update Booking Details</h3>
            <form id="update-booking-form" action="{{ url_for('hotel_info') }}" method="POST">
                <input type="hidden" name="hotel_id" value="{{ hotel._id }}">
                <input type="hidden" name="hotel_name" value="{{ hotel.title }}">
                <input type="hidden" name="hotel_price" value="{{ hotel.price_per_night }}">
                <input type="hidden" name="hotel_photos" value="{{ hotel.photos }}">

                <div class="booking-details-section">
                    <div class="col-md-6 mb-3">
                        <label for="check_in" class="form-label"><strong>Check-in:</strong></label>
                        <input type="date" id="check_in" name="check_in" class="form-control" value="{{ booking_details.check_in }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="check_out" class="form-label"><strong>Check-out:</strong></label>
                        <input type="date" id="check_out" name="check_out" class="form-control" value="{{ booking_details.check_out }}">
                    </div>
                </div>
                <div class="booking-details-section">
                    <div class="col-md-6 mb-3">
                        <label for="guests" class="form-label"><strong>Guests:</strong></label>
                        <input type="number" id="guests" name="guests" class="form-control" value="{{ booking_details.guests }}">
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="rooms" class="form-label"><strong>Rooms:</strong></label>
                        <input type="number" id="rooms" name="rooms" class="form-control" value="{{ booking_details.rooms }}">
                    </div>
                </div>
            </form>
            {% if current_user.is_authenticated %}
            <form action="{{ url_for('confirmation') }}" method="GET">
                <div class="col-12 text-center">
                    <button type="submit" class="btn-proceed-confirmation mt-3">Proceed to Confirmation</button>
                </div>
            </form>
            {% endif %}
            <form action="{{ url_for('booking') }}" method="POST">
                <div class="col-12 text-center">
                    <input type="hidden" name="destination" value="{{ booking_details.destination }}">
                    <input type="hidden" name="check_in" value="{{ booking_details.check_in }}">
                    <input type="hidden" name="check_out" value="{{ booking_details.check_out }}">
                    <input type="hidden" name="guests" value="{{ booking_details.guests }}">
                    <input type="hidden" name="rooms" value="{{ booking_details.rooms }}">
                    <button class="btn-back-to-booking mt-3" id="backToBookingBtn">Back to booking</button>
                </div>
            </form>
        </div>
    </div>

    {% else %}
    <div class="alert alert-warning text-center" role="alert">
        No hotel or booking details found. Please go back to <a href="{{ url_for('home') }}" class="alert-link">home page</a> to make a booking.
    </div>
    {% endif %}
</div>

<!-- Script para actualizar el formulario automáticamente -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var updateBookingForm = document.getElementById('update-booking-form');
        var formElements = updateBookingForm.querySelectorAll('input');

        formElements.forEach(function(element) {
            element.addEventListener('change', function() {
                updateBookingForm.submit();
            });
        });
    });
</script>
{% endblock %}

