{% extends 'base.html' %}

{% block title %}Manager Listing - Travel Booking{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center mb-4">Hotel Listings</h2>
    {% for city, hotels in hotels_by_city.items() %}
    <h3>{{ city }}</h3>
    <div class="row">
        {% for hotel in hotels %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if hotel.photos %}
                <img src="{{ url_for('hotel_photo', photo_id=hotel.photos[0]) }}" class="card-img-top" alt="Hotel Photo">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ hotel.title }}</h5>
                    <p class="card-text">{{ hotel.description }}</p>
                    <button class="btn btn-primary" onclick="window.location.href='/manager_hotel_editing/{{ hotel._id }}'">Edit</button>
                    <form action="{{ url_for('delete_hotel', hotel_id=hotel._id) }}" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
