{% extends 'base.html' %}

{% block title %}Manager Listing - Travel Booking{% endblock %}

{% block content %}

<style>
    .listing-container {
        width: 60%;
        margin: auto;
        padding: 20px;
        text-align: center;
    }
    .listing-container .button-container {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .listing-container .entry-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px auto;
        padding: 10px;
        border: 1px solid #000;
        border-radius: 5px;
        width: 100%;
    }
    .listing-container .entry-container img {
        width: 100px;
        height: 100px;
        margin-right: 20px;
    }
    .listing-container .entry-container .details {
        flex: 1;
        text-align: left;
    }
    .listing-container .entry-container .details h4 {
        margin: 0;
    }
</style>


    <div class="listing-container">
        <div class="button-container">
            <button class="btn btn-primary mx-2" onclick="window.location.href='/manager_profile'">My profile</button>
            <button class="btn btn-primary" onclick="addNewPlace()">Add New Place</button>
        </div>
        <div class="entry-container" onclick="editPlace(1)">
            <img src="hotel_image.jpg" alt="Hotel Image">
            <div class="details">
                <h4>Hotel 1 Name</h4>
                <p>Description:</p>
            </div>
        </div>
        <div class="entry-container" onclick="editPlace(2)">
            <img src="hotel_image.jpg" alt="Hotel Image">
            <div class="details">
                <h4>Hotel 2 Name</h4>
                <p>Description:</p>
            </div>
        </div>
        <div class="entry-container" onclick="editPlace(3)">
            <img src="hotel_image.jpg" alt="Hotel Image">
            <div class="details">
                <h4>Hotel 3 Name</h4>
                <p>Description:</p>
            </div>
        </div>
        <div class="entry-container" onclick="editPlace(4)">
            <img src="hotel_image.jpg" alt="Hotel Image">
            <div class="details">
                <h4>Hotel 4 Name</h4>
                <p>Description:</p>
            </div>
        </div>
        <div class="entry-container" onclick="editPlace(5)">
            <img src="hotel_image.jpg" alt="Hotel Image">
            <div class="details">
                <h4>Hotel 5 Name</h4>
                <p>Description:</p>
            </div>
        </div>
    </div>
    <script>
        function addNewPlace() {
            ('Redirecting to add new place.');
            window.location.href = '/manager_hotel_editing';
        }

        function editPlace(id) {
            ('Redirecting to edit place ' + id);
            window.location.href = '/manager_hotel_editing';
        }
    </script>




{% endblock %}
