/* Estilos para la página Home */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    position: relative;
    min-height: 100vh;
    
}


.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    align-items: center;
}

header {
    background: #003580;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

header .auth-links {
    position: absolute;
    top: 20px;
    right: 20px;
}

header .auth-links a {
    color: #003580;
    margin-left: 15px;
    text-decoration: none;
    font-weight: bold;
}

#search {
    background: #ffffff;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

#search form {
    display: block;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


#destinations {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background: #003580;
    color: #ffffff;
    text-align: center;
    padding: 1px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/*This is next section, Login*/
.container-login {
    width: 30%;
    margin: auto;
    overflow: hidden;
    margin-top: 50px;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

h2 {
    text-align: center;
    color: #003580;
}


input[type="email"],
input[type="password"],
input[type="submit"] {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
}

input[type="checkbox"] {
    margin: 10px 0;
}

a {
    color: #003580;
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
}



.profile-container {
    width: 100%;
    margin: auto;
    padding: 20px;
    text-align: center;
}
.profile-container .field-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}
.profile-container input[type="text"], 
.profile-container input[type="email"], 
.profile-container input[type="password"] {
    width: calc(80% - 20px);
    padding: 10px;
    margin-right: 10px;
}
.profile-container .button {
    margin: 10px;
}
.profile-container .nav-buttons {
    display: flex;
    justify-content: space-between;
    margin: 15 0;
}
.button {
    display: block;
    background: #003580;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    cursor: pointer;
    border: none;
    margin: 5px 0;
    align-items: center;
}
.small-btn {
    align-items:center;
    display:block;
    text-align: center;
    padding: 5px 10px;
    margin: 0;
}
.action-btn {
    width: 100%;
    max-width: 200px;
}

/*For booking*/

.hotel-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 15px;
}
.hotel-photo {
    width: calc(50% - 10px); /* Ajusta el tamaño al 50% menos 10px de margen */
    margin-bottom: 10px;
    object-fit: cover; /* Mantiene la proporción de la imagen */
}
.morecontent span {
    display: none;
}
.morelink {
    display: inline-block;
    margin-top: 10px;
}

/*For confirmation*/

.hotel-photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.hotel-photo {
    width: calc(50% - 5px);
    object-fit: cover;
}