<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Editing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div id="hotel-editing" class="container">
        <header>
            <h1>Booking Hotel</h1>
            <div class="dropdown" style="float: right;">
                <button class="dropbtn" onclick="toggleDropdown()">☰ manager_name
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content" id="dropdown-menu">
                    <li><a href="#" onclick="showProfile()">My Profile</a></li>
                    <a href="#">Logout</a>
                </div>
            </div>
        </header>
        <form action="{{ url_for('hotel_editing') }}" method="post" enctype="multipart/form-data">
            <label>Title:</label>
            <input type="text" name="title" id="hotel-title" class="form-control">
            <label>Street 1:</label>
            <input type="text" name="street1" id="street1" class="form-control">
            <label>Street 2:</label>
            <input type="text" name="street2" id="street2" class="form-control">
            <label>Street 3:</label>
            <input type="text" name="street3" id="street3" class="form-control">
            <label>City:</label>
            <input type="text" name="city" id="city" class="form-control">
            <label>Country:</label>
            <input type="text" name="country" id="country" class="form-control">
            <label>Photos:</label>
            <input type="file" name="photos" id="photo-upload" multiple accept="image/*" class="form-control">
            <div id="photo-preview" class="photo-preview"></div>
            <label>Description:</label>
            <textarea name="description" id="description" class="form-control"></textarea>
            <label>Extra Info:</label>
            <textarea name="extra_info" id="extra-info" class="form-control"></textarea>
            <label>No. of Guests:</label>
            <input type="number" name="no_of_guests" id="no-of-guests" class="form-control">
            <label>Price / Night:</label>
            <input type="number" name="price_per_night" id="price-per-night" class="form-control">
            <button class="button" type="submit">Save</button>
            <button class="button" type="button" onclick="deleteHotel()">Delete</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>